<ul class="trick-list">
  {% for trick in site.trick reversed %}
    <li>
      <h2 class="trick-heading" style="background-color: {{ trick.vibe }}">{{ trick.title }}</h2>
      <p id="with" >
        {% for person in trick.with -%}
          <span style="display: inline-block;">
            {% unless forloop.first %}\ {% endunless -%}{{ person }}
          </span>
        {% endfor %}
      </p>
      <p>
        Wo: <span style="display: inline-block;">{{ trick.where }}</span>
        <br>
        Eröffnung: <span style="display: inline-block;">{{ trick.opening }}</span>
      </p>
      <a href="{{ trick.url }}">>>> Mehr</a>
      <br>
    </li>
  {% endfor %}
</ul>
