:root {
  --red: #bb262c;
  --visited: #822225;
  --dark: #000;
}

html, body {
  font-family: 'IBM Plex Mono', monospace;
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.6;
  font-size: 1.2em;
  text-align: left;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer { margin-top: auto; }
hr { border: 2px dashed var(--dark); }

img { max-width: 100%; }


.header-images {
  display: flex;
  justify-content: space-around;
}

.header-images img {
  height: 60px;
}

/* Trick feed */
.trick-list {
  padding: 1em;
  list-style-type: none;
}

.trick-heading {
  padding: 32px 16px;
}

/* Navigation */

.nav-list {
  border: 2px dashed var(--dark);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  float: left;
}

.nav-item a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  position: relative;
}


a:link { color: var(--red); }
a:visited { color: var(--visited); }

