<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include header-images.html %}
    <br>
    {% include navigation.html %}

    {{ content }}

    <footer>
      <hr>
      <a href="https://www.instagram.com/onetrickponycontemporary/">@onetrickponycontemporary</a>
    </footer>
  </body>
</html>

<!--
  - started and expired
  - images fill out the entire width
  - logo at bottom of page
-->
