<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Rubik+Iso&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include header-images.html %}
    <br>
    {% include navigation.html %}

    {{ content }}

    <footer>
      <hr style="border-top: 3px dashed var(--dark);">
      <a href="https://www.instagram.com/onetrickponycontemorary">@onetrickponycontemorary</a>
    </footer>
  </body>
</html>
